* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100vw;
    height: 100vh;
    font-family: 'Almarai', sans-serif;
    background-size: cover;
    background-color: $body-font;
    background-attachment: fixed;
    animation: moveBackground 50s infinite linear;
    overflow-y: auto;
  }
  
  .main-container {
    height: 100%;
    display: flex;
    color: $font_b4;
    overflow: auto; 

    &::-webkit-scrollbar {
      display: none;
    }
  }
  
  h1,h2,h3,h4,h5,h6 {
    margin: 0;
  }


