@keyframes shake {
  0% {
    transform: translateX(-5px) rotate(-5deg);
  }
  
  25% {
    transform: translateX(5px) rotate(5deg);
  }
  
  50% {
    transform: translateX(-5px) rotate(-5deg);
  }
  
  75% {
    transform: translateX(5px) rotate(5deg);
  }
  
  100% {
    transform: translateX(-5px) rotate(-5deg);
  }
}

@keyframes moveBackground {
  from { background-position: 0 0; } /* Posición inicial */
  to { background-position: 100% 100%; } /* Posición final */
}

@keyframes aparecer {
  0% {
    opacity: 0; // Empieza completamente transparente
    transform: scale(0.5); // Empieza más pequeño
  }
  100% {
    opacity: 1; // Termina completamente opaco
    transform: scale(1); // Termina al tamaño original
  }
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
